@model IEnumerable<SISPostgres.Models.Enrollment>
 
@{
    ViewData["Title"] = "Report Card";
}
 
 

<br /><br />
@using (Html.BeginForm("Report", "Enrollments", FormMethod.Post))
{
    <b>Select Tea Type: </b> 
 
    @Html.DropDownList("SelectTeaType", new SelectList(Enum.GetValues(typeof(TeaType))),"--Select Term--")
   
    <input type="submit" value="submit" />
}
  
  @ViewBag.studentname 
 @ViewBag.TeaType
 
 @if(ViewData["Enrollments"] !=null)
 {
    <dd>
        <table class="table">
            <tr>
                <th>Course Title</th>
                <th>Grade</th>
                <th>Marks</th>
                <th>MarksObtained</th>
            </tr>
            @foreach (var item in Model )
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Course.Title)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Grade)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Marks)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Marksobtained)
                    </td>
                </tr>
            }
        </table>
    </dd>

    @ViewBag.totalmarks
 }
